*{
    box-sizing:border-box;
    margin:0;
    font-size:25px;
}

header > section .header-background{
    border: 1px solid black;
    width: 100%;
    height: 200px;
    background-image: url("../img/pattern.png");
    background-color:rgb(83, 146, 255);
}

section .header-background img{
    max-width:20%;
    margin-top:70px;
    margin-left:15px;
}

.article{
    margin-left:10px;
}

main .article h1{
    font-size:80px;
}

.article .undertitle {
    font-size: 25px;
    margin-left:5px;
    color:gray;
    font-weight:600;
}

.undertitle.date-time{
    font-size:15px;
    margin-bottom:20px;
}

.article .undertitle > a {
    text-decoration:none;
    color:rgb(83, 146, 255);
}

.article .photo-description{
    font-size:22px;
}

.article .main-paragraph {
    margin-top:20px;
    margin-bottom:10px;
}

.article .main-paragraph span{
background-color:yellow;
}


